@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



:root {
    --color-red: rgb(235, 161, 161);
    --color-toto: #0065FC
}



/* Gérénal ........................................................................ */

main 
{
   width: 100%;
   max-width: 1400px;
   font-family: 'Raleway', Arial, sans-serif;
   font-weight: 400;
  
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
}

/* Header ......................................................................... */

.header {
    display: flex;
    justify-content: space-between;
    
    
}

.title {
    color:var(--color-red) ;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
}

nav li{
    font-size: 16px;
    color:var(--color-red) ;
    padding: 48px 33.5px 0px 33.5px;
   
}

nav li:hover
  {
    border-top: 2px var(--color-toto) solid;
  }

.ul_header{
    
    display: flex;
    margin-right: 43.5px;
}

.logo {
    margin-top: 44px;
    margin-left: 55px;
    width: 61.09px;
    height: 19px;
}

.Recherche h1{
    font-size: 22px;
    font-weight: bold;
    margin-left: 55px;
   
}

.Liens{
    display: flex;
}

.Hébergements{
    display: flex;
}



.block-list {}
.block-list__item {}


.block-list__item--toto {}


.block-list__figure {
    width:100px;
    height:100px;   

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.block-list__figure img {
    position: absolute;
    top:0;
    left:0;
}



